header {
  padding: 15px 3%;

  ul{
    display: flex;
    list-style: none;
    gap: 30px;

    a {
      color: #fff;
    }

    .activated {
      color: red;
      text-decoration: underline;
    }
  }
}