input[type=text]{
  color: #232323;
}

.container__card{
  width: 220px;
  height: 320px;
  background-color: #232323;
  padding: 10px;

  .card__title {
    text-align: center;
  }

  .card__image{
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #616161;
    border-radius: 12px;
    margin-top: 6px;

    img{
      width: 100px;
      height: 100px;
    }
  }

  .card__types {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin-top: 10px;

    .card__type {
      padding: 5px;
      background-color: coral;
      border-radius: 6px;

      &:not(:first-child){
        margin-left: 8px;
      }
    }
  }
}